.block {
    display: block;
    width: 100%;
}
.cursor{
    cursor: pointer;
    position: relative;
    .del {
        position: absolute;
        bottom: 25px;
        right: 200px;
        z-index: 10;
        display: none;
    }
    &:hover {
        .del {
            display: block;
        }
    }
}